@model IEnumerable<Discount>

@{
    ViewBag.PageTitle = "View Discounts";
    ViewBag.CardTitle = "Discounts";
}

@if (TempData["toast"] != null)
{
    await Html.RenderPartialAsync("../Shared/_toastPartial");
}

<div class="card my-4 mx-4">
    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">@ViewBag.CardTitle table</h6>
        </div>
    </div>
    <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Percentage</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start Date>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End Date</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var discount in Model)
                    {
                        <tr>
                            <td>
                                <div class="d-flex px-2 py-1">
                                    @discount.Id
                                </div>
                            </td>
                            <td>
                                <p class="text-s mb-0">@discount.DiscountPercentage</p>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs">@discount.StartDate</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs">@discount.EndDate</span>
                            </td>
                            <td class="align-middle text-center">
                                <span class="text-secondary text-xs">@discount.Product!.Name</span>
                            </td>
                            <td class="align-middle text-center text-sm">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@discount.Id">Edit</a>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@discount.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<a asp-action="Create" class="mx-4 btn btn-primary">New</a>